<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="edu.utah.cs4962.golfleaderboard" >
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-feature android:name="android.hardware.camera2" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="edu.utah.cs4962.golfleaderboard.MainActivity"
            android:label="@string/app_name"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CreateAccount"
                  android:label="@string/createAccount"
                  android:configChanges="orientation|screenSize"/>
        <activity android:name=".CreateJoinTournament"
                  android:label="Home Page"
                  android:configChanges="orientation|screenSize"/>
        <activity android:name=".CreateTournament"
                  android:label="Create Tournament"
                  android:configChanges="orientation|screenSize"/>
        <activity android:name=".SetupTournamentValues"
                  android:label="Setup Tournament Values"
                  android:configChanges="orientation|screenSize"/>
        <activity android:name=".JoinTournament"
                  android:label="Find Tournaments"
                  android:configChanges="orientation|screenSize"/>
        <activity android:name=".JoinSelect"
                  android:label="Join Tournament"
                  android:configChanges="orientation|screenSize"/>
        <activity android:name=".EditAccount"
                  android:label="Edit Account Information"
                  android:configChanges="orientation|screenSize"/>
        <activity android:name=".PlayerTournamentValues"
                  android:label="Enter Score for Hole"
                  android:configChanges="orientation|screenSize"/>
        <activity android:name=".LeaderBoard"
                  android:label="Leaderboard"
                  android:configChanges="orientation|screenSize"/>
    </application>

</manifest>
